<div class="table-container">
  <!-- Title for the table -->
  <h2 class="table-title">Lista de Pedidos</h2>

  <!-- Mat Table -->
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef class="mat-header-cell"> ID </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{ order.id }} </mat-cell>
    </ng-container>

    <!-- Cliente Column -->
    <ng-container matColumnDef="cliente">
      <mat-header-cell *matHeaderCellDef class="mat-header-cell"> Cliente </mat-header-cell>
      <mat-cell *matCellDef="let order"> Cliente ID: {{ order.clienteId }} </mat-cell>
    </ng-container>

    <!-- Productos Column -->
    <ng-container matColumnDef="productos">
      <mat-header-cell *matHeaderCellDef class="mat-header-cell"> Productos </mat-header-cell>
      <mat-cell *matCellDef="let order">
        <div *ngFor="let producto of order.productos">
          Producto ID: {{ producto.productoId }} | Cantidad: {{ producto.cantidad }} | Precio Unitario: {{ producto.precioUnitario | currency }}
        </div>
      </mat-cell>
    </ng-container>

    <!-- Total Column -->
    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef class="mat-header-cell"> Total </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{ order.total | currency }} </mat-cell>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef class="mat-header-cell"> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let order">
        <button mat-raised-button color="accent" (click)="openDetailDialog(order)">
          <mat-icon>visibility</mat-icon> Ver
        </button>
        <!-- Botón de editar -->
        <button mat-raised-button color="primary" (click)="editOrder(order)">
          <mat-icon>edit</mat-icon> Editar
        </button>
        <!-- Botón de eliminar -->
        <button mat-raised-button color="warn" (click)="openDeleteDialog(order)">
          <mat-icon>delete</mat-icon> Eliminar
        </button>
      </mat-cell>
    </ng-container>

    <!-- Header y Fila -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
